
div {
  background-color: orangered;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 2px 2px 5px 3px black;
  animation-name: bouncing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bouncing {
  0% {
    top: 0;
  }
  100% {
    top: 75%;
  }
}
