div{
background-color: blue;
position: relative;
width:100px;
height:100px;
border-radius:100%;
box-shadow:2px 2px 5px 3px black;

animation-name: rounding;
animation-duration: 6s;
animation-iteration-count: infinite;
animation-direction:normal;
animation-delay:0s;


}

@keyframes rounding
{

0%{

    top:0;
left:0;

}

25%{

    top:0;
    left:1000;
}

50%{
 top:500px;
left:1000px;

}

75%{
top:500px;
left:0px;

}


100%{
    top:0;
    left:0;
}



}