
.container {
  position: relative;
  height: 500px;
  width: 50px;
  border: 1px solid black;
}

.ball {
  background-color: orangered;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 2px 2px 5px 3px black;
  animation-name: bouncing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.bottom-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: black;
}

@keyframes bouncing {
  0% {
    top: 0;
  }
  100% {
    top: 88%;
  }
}

