/* 1.Descendant combinator(space)
descendant combinator mtches all elements that are descendants of a specified element

div p {
    color: blue;
}
*/
/*2.Child combinator (>)
   Selects all elements that are children of a specified element 
 body > p {
    color: red;
} */

/*3️.next sibling combinator (+)
   used to select element directly after another specific element 
div + p {
    color: green;
} */

 /*4️.subsequent sibling combinator (~)
   used to select all elements that are siblings of a specific element 
div ~ p {
    font-style: italic;
} */
