.box {
  width: 300px;
  height: 200px;
  padding: 20px;
  border: 5px solid black;
  margin: 50px;
  background-color: white;
}

.box2 {
  width: 300px;
  height: 200px;
  padding: 40px;
  border: 10px solid red;
  margin: 50px;
  background-color: white;
}

h1 {
  background-color: grey;
  padding: 10px;
  border: 1px solid black;
}

p {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
}