  *{
margin:0;
padding:0;

  }
  
  
.container {
background-color: violet;
width: 100%;
height: 100vh;
padding: 30px;
box-sizing:border-box;
display:flex;
flex-direction:row;
flex-wrap: wrap;

gap:20px;
 
justify-content:center;


align-items: end;
background-image: url("./background.webp");
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}


.cards{
background-color: rgb(255, 140, 0);
width:200px;
height:200px;
border: 5px solid rgb(255,0,0); 
border-radius: 10px;

background-image: url("./rose.webp");
background-repeat: no-repeat;
background-position: center;
background-size: cover;


box-shadow: 3px 3px 15px 5px rgb(255, 255, 255);

}


