@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
h1{
font-family:"Dancing Script", cursive;
font-size: 50px;
font-weight: 900;
font-style: italic;
color: blue;
 text-align: justify;
text-align-last: center;
direction: rtl;
}