

*{
margin:0;
padding: 0;
box-sizing: border-box;
}


.nav{

width: 100%;
height:10vh;
background-color: aqua;
display: flex;
align-content: center;
justify-content: space-between;
padding: 10px 30px;

}

.right{

display:flex;
align-items:center;
gap:30px;

}


.menu{

    display:none;
}

.menu img {

width: 30px;

}


.container{

width: 100%;
height:90vh;
background-color: bisque;
display: flex;
flex-wrap: wrap ;
justify-content: center;
padding: 20px;
gap: 20px;


}


.cards{

width: 200px;
height:200px;
background-color: brown;
border:1px solid white;
display: flex;
align-content: center;
justify-content: center;
border-radius: 30px;
box-shadow: 2px 2px 10px 3px black;

} 

@media  screen and (max-width:1024px) {
    
.nav{

    background-color:green;
}
}

@media  screen and (max-width:768px) {
.right{
    display: none;

}

.menu{

    display: block;
}
}  

