/* element selector */
h1 {
    font-size: 50px;
}


/* class selector */
.para {
    color: green;
}

/* id selector */
#paragraph {
    color: blue;
}

/* universal selector */
* {
    color: yellow;
}
