
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    padding: 20px;
    background-color: whitesmoke;
    text-align: left;
    border-bottom: 1px solid whitesmoke;
}

.navbar nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    text-align: right;
}

.navbar nav a {
    text-decoration: none;
    color: black;
      text-align:right;
    font-weight: bold;
  
}


.photo-section {
    padding: 40px;
    text-align: center;
    background: white;
}

.photo-container {
    display: inline-block;
    text-align: left;
}

.photo-container .photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.education-section {
    padding: 40px;
    background: white;
    text-align: center;
}

.education-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

.footer {
    background: white;
    padding: 20px;
    text-align: center;
    border-top: 1px solid white;
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.links a {
    text-decoration: none;
    color: blue;
}

