* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: sans-serif; 
}

.container{ 
  width: 80%; 
  margin :0 auto; 
  padding: 15px; 
}

.header { 
  border: 1px solid black; 
  padding: 15px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: grey; 
}

.nav a { 
  margin-left: 20px; 
  text-decoration: none; 
  color: aliceblue; 
}

.nav a:hover {
  color: orange; 
}

.main-box { 
  border: 1px solid black; 
  padding: 20px; 
  margin-top: 20px; 
  display: flex; 
  gap: 20px; 
}

.profile-img img { 
  width: 180px; 
  height: 200px; 
  object-fit: cover; 
}


.title { 
  font-size: 28px; 
  margin-bottom: 10px; 
  text-align: center; 
}

.info-box { 
  border: 1px solid black; 
  padding: 15px; 
  margin: 10px auto; 
  width: 260px; 
}


.education { 
  border: 1px solid black; 
  padding: 20px; 
  margin-top: 20px; 
}

.edu-cards { 
  display: flex; 
  gap: 20px; 
  margin-top: 20px; 
  justify-content: space-around; 
}

.card { 
  border: 1px solid black; 
  padding: 10px; 
  width: 180px; 
  text-align: center; 
}

.card img { 
  width: 100%; 
  height: 120px; 
  margin-bottom: 10px; 
}

.footer { 
  background-color: aquamarine; 
  border: 1px solid #000; 
  padding: 15px; 
  margin-top: 20px; 
  display: flex; 
  justify-content: space-around; 
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.links a {
    text-decoration: none;
    color: blue;
} 