.container{

height: 600px;
width: 800px;
background-color: rgb(100, 100, 100);
display: grid;
grid-template-columns: repeat(3, 100px);
grid-template-rows: repeat(2, 110px);
justify-content: space-evenly;
align-content: space-around;
}


.item{

height: 100px;
width:100px;
background-color: aqua;
border-bottom: 1px solid black;

}