.container{

height: 600px;
width: 400px;
background-color: rgb(129, 233, 50);
display: grid;
grid-template-columns: repeat(3, 200px);
grid-template-rows: repeat(2, 200px);
justify-content: end;
align-content: end;
place-content: end;
justify-items: end;
align-items: center;
}


.item{

height: 100px;
width:100px;
background-color: aqua;
border-bottom: 1px solid black;

}