.container{

height: 600px;
width: 800px;
background-color: aliceblue;
display: grid;
grid-template-columns: 120px 110px 150px;
grid-template-rows: repeat(2,200px);
justify-content: center;
}


.item{

height: 200px;
width:100%;
background-color: aqua;
border-bottom: 1px solid black;

}