div {
width: 200px;
height:200px;
background-color: blue;
color:white;

border-color: red;
border-style: dotted;
border-width: 10px;
border-radius: 50%;

margin-top: 500px;
margin-left: 50px;;
margin-right: 10px;
margin-bottom: 10px;


padding-left: 50px;
padding-top: 50px;
padding-right: 10px;
padding-bottom: 10px;


border:10px dotted red;
margin:500px 10px 10px 50px;
padding:50px 0px 0px 50px;

position:static;
position:absolute;
position: relative;
position:sticky;
}

