button{
   margin:25px;
padding:12px 25px;
border-radius: 26px;

border:1px solid navy;
background-color: navy;

color:white;
font-size: 25px;
transition-property: all;
transition-duration: 1s;
/*transition-delay: 2s; */
transition-timing-function: ease;
transition:all 0.8s linear 1s;
font-size: 18px;

}

button:hover {
background-color: white;
color: navy
cursor=pointer;

}





