div {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
  border: 2px solid black;
  padding: 10px;
}

#myDiv1 {
  transform: scale(0.7);
}

#myDiv2 {
  transform: scale(110%);
}

#myDiv3 {
  transform: scale(1.1, 0.5);
}