
div {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
  border: 2px solid black;
  padding: 10px;
}

#myDiv1 {
  transform: translate(50px); /* moves the element 50px along the x-axis, and 0px along the y-axis */
}

#myDiv2 {
  transform: translate(50px, 20px); /* moves the element 50px along the x-axis, and 20px along the y-axis */
}

#myDiv3 {
  transform: translate(100px, 30px); /* moves the element 100px along the x-axis, and 30px along the y-axis */
}