@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

h1 {

font-family:"sans-serif";
font-size: 50px;
font-weight: 900;
font-style: italic;
color: red;
text-align: justify;
text-align-last: justify;
text-indent: 100px;
}

